.myForm {
  margin: 0 auto;
  max-width: 300px;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form__field {
  position: relative;
  width: 100%;
  min-height: 5rem;
  border: none;
}

.form__input {
  padding: .5rem;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #595959;
  color: #A6A6A6;
  font-family: 'Montserrat', sans-serif;
  transition: .2s ease;
}

.light-mode .form__input {
  border-bottom-color: #A6A6A6;
  color: #595959;
}

.form__input:focus {
  border-bottom: 2px solid lightcoral;
  outline: none;
}


.form__label {
  position: absolute;
  top: .5rem;
  left: .5rem;
  color: #595959;
  transition: transform .3s ease;
}

.form__input:focus~.form__label {
  color: lightcoral;
}

.form__input:focus~.form__label,
.filled~.form__label,
.invalidate~.form__label {
  transform: translateY(-120%);
}

.form__input,
textarea,
[contenteditable] {
  caret-color: lightcoral;
}

textarea {
  margin: 2rem auto;
  background-color: transparent;
  color: #A6A6A6;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  min-width: 100%;
  max-width: 100%;
}

.light-mode textarea {
  color: #595959;
}

textarea:focus {
  outline: lightcoral;
}

.form__button {
  justify-self: center;
  margin: 4rem 0 2rem;
  border: 2px solid #595959;
  border-radius: .5rem;
  padding: 1rem;
  color: #595959;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s linear;
  z-index: 5;
}

.light-mode .form__button {
  border-color: #A6A6A6;
  color: #A6A6A6;
}

.form__button:hover,
.light-mode .form__button:hover {
  border-color: lightcoral;
  color: lightcoral;
}

.form__alert {
  display: inline-block;
  margin: 0 auto;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  padding: .2rem 0;
  font-size: .8rem;
  line-height: 1rem;
}

.form__confirmation {
  color: green;
  text-align: center;
}

.invalidate {
  background-color: rgba(240, 128, 128, .2);
}

.otherInformation {
  text-align: center;
}

input:disabled,
input:disabled~label {
  opacity: .1;
  transform: scaleY(0);
}

.editContainer {
  position: relative;
  top: -2vw;
  left: -2vw;
  min-width: calc(1024px + 2vw);
  max-width: calc(1024px + 2vw);
  padding: 2vw;
  background-color: #262626;
  z-index: 5;
  /* opacity: 1; */
}

.light-mode .editContainer {
  background-color: #D9D9D9;
}

.editForm {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.form__options {
  flex-basis: 45%;
  padding: 2rem;
}

.form__editor {
  flex-basis: 100%;
}