main {
  padding: 1rem;
}

.articleNews {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
  border-bottom: 1px solid brown;
}

.articleNews__description {
  flex-basis: 100%;
  padding: 1rem 0;
}