.mainContainer {
  position: relative;
  padding: 1rem;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 50vh;
}

.articleNews {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0 2rem;
  border-bottom: 1px solid brown;
}

.light-mode .articleNews {
  border-bottom-color: #3f72af;
}

.articleNews__description {
  flex-basis: 100%;
  padding: 1rem 0;
  text-align: justify;
}

@media screen and (min-width:1024px) {
  .mainContainer {
    margin: 0 auto;
    min-width: 700px;
    max-width: 1024px;
  }
}