.navigation {
  z-index: 10;
  background-color: black;
}

.menu-button {
  position: fixed;
  top: 30px;
  left: 10px;
  transform: translateY(-50%);
  transform-origin: center center;
  width: 40px;
  height: 40px;
  border: 2px solid lightcoral;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  z-index: 10;
}


.light-mode .menu-button {
  background-color: rgba(255, 255, 255, .9);
}

.menu-button__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66%;
  height: 3px;
  border-radius: 30px;
  background-color: lightcoral;
  font-size: .6rem;
  text-align: center;
  font-weight: bold;
  line-height: 0;
  transform-origin: center center;
  transition: transform .2s linear, border-radius .5s linear;
}


.menu-button__bar:nth-child(1) {
  transform: translate(-50%, -300%);
}

.menu-button__bar:nth-child(2) {
  background-color: transparent;
}

.menu-button__bar:nth-child(2)::before {
  display: block;
  width: 100%;
  content: "open";
  transform: translateY(.05rem);
}

.menu-button__bar:nth-child(3) {
  transform: translate(-50%, 200%);
}

.menu-button.active .menu-button__bar:nth-child(1) {
  transform: translate(-50%, 200%);
}

.menu-button.active .menu-button__bar:nth-child(2)::before {
  content: "close";
}

.menu-button.active .menu-button__bar:nth-child(3) {
  transform: translate(-50%, -300%);
}

.menu {
  position: absolute;
  background-color: #262626;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  padding: 3rem 1rem;
  box-shadow: 0 0 5px lightcoral;
  transform: translateX(-100%);
  transition: background-color .5s ease-in-out, transform .3s linear;
  z-index: 9;
}

.light-mode .menu {
  background-color: #D9D9D9;
}

.menu.active {
  transform: translate(0);
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;
}

.icons>* {
  border-radius: 50%;
  padding: .5rem;
  transition: color .3s linear;
}

.icons>*:hover {
  color: #D9D9D9;
}

.light-mode .icons>*:hover {
  color: #262626;
}

.menu__header {
  display: block;
  padding: .5rem;
  text-transform: uppercase;
}

.storyBox--long {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.storyBox__list {
  list-style: none;
  padding: 0 1rem;
}

.storyBox__item {
  position: relative;
  margin: 0;
  padding: .1rem 1rem;
  border: none;
  border-left: 2px solid lightcoral;
  color: #D9D9D9;
  transition: color .3s linear;
}

.light-mode .storyBox__item {
  color: #595959;
}

.storyBox__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -.4rem;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightcoral;
  transition: background-color .3s linear;
}

.storyBox__item:hover {
  color: white;
}

.light-mode .storyBox__item:hover {
  color: black;
}

.storyBox__item:hover::before {
  background-color: #262626;
  box-shadow: 0 0 2px 2px lightcoral;
}

.light-mode .storyBox__item:hover::before {
  background-color: #D9D9D9;
}

.storyBox__item--short::before {
  content: none;
}

.storyBox__title {
  position: relative;
  padding: .5rem;
  border-left: none;
  color: #595959;
}

.light-mode .storyBox__title {
  color: #A6A6A6;
}

@media screen and (min-width:1024px) {
  .menu {
    min-width: 400px;
    max-width: 400px;
  }
}