.navigation {
  position: relative;
  z-index: 10;
  background-color: black;
  z-index: 10;
}

.menu {
  position: absolute;
  background-color: #262626;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  padding: 3rem 1rem;
  transform: translateX(-100%);
  transition: background-color .5s ease-in-out, transform .3s linear;
  z-index: 10;
}

.light-mode .menu {
  background-color: #D9D9D9;
}

.menu.active {
  transform: translate(0);
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2rem 0;
}

.icons>* {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  transition: color .3s linear;
}

.icons>*:hover {
  color: #D9D9D9;
}

.light-mode .icons>*:hover {
  color: #262626;
}

.menu__header {
  display: block;
  padding: .5rem;
  text-transform: uppercase;
}

.storiesBox {
  list-style: none;
  margin-left: 0
}

.storyBox--long {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.storyBox__list {
  list-style: none;
  padding: 0 1rem;
  margin-left: 0
}

.storyBox__item {
  position: relative;
  margin: 0;
  padding: .1rem 1rem;
  border: none;
  border-left: 2px solid lightcoral;
  color: #D9D9D9;
  transition: color .3s linear;
}

.light-mode .storyBox__item {
  color: #595959;
}

.storyBox__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -.4rem;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightcoral;
  transition: background-color .3s linear;
}

.storyBox__item:hover {
  color: white;
}

.light-mode .storyBox__item:hover {
  color: black;
}

.storyBox__item:hover::before {
  background-color: #262626;
  box-shadow: 0 0 2px 2px lightcoral;
}

.light-mode .storyBox__item:hover::before {
  background-color: #D9D9D9;
}

.storyBox__item--short::before {
  content: none;
}

.storyBox__title {
  position: relative;
  padding: .5rem;
  border-left: none;
  color: #595959;
}

.light-mode .storyBox__title {
  color: #A6A6A6;
}


.menu-button {
  position: fixed;
  top: 2rem;
  left: 0;
  transform: translateY(-50%);
  transform-origin: center center;
  width: 2rem;
  height: 2rem;
  border-radius: 0 50% 50% 0;
  background-color: lightcoral;
  color: #262626;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  transition: transform .3s linear, color .3s linear;
}


.light-mode .menu-button {
  color: #262626;
}

.menu-button>* {
  transition: transform .3s .4s ease;
}

.menu-button:hover {
  color: #D9D9D9;
}

.menu-button.active>* {
  transform: rotateY(180deg);
}

@media screen and (min-width:1024px) {
  .menu {
    min-width: 400px;
    max-width: 400px;
    border-right: 2px solid lightcoral;
    padding: 0 1rem 3rem;
  }

  .icons {
    margin: 10vh 0 1rem;
    transform: translateY(-50%);
  }

  .menu-button {
    top: 10vh;
  }

  .menu-button.active {
    transform: translate(400px, -50%);
  }



}