.story {
  text-align: justify;
}

.story__title {
  padding: 2rem 0;
}

.story__content::first-letter {
  font-size: 3rem;
}

.story__authors {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  border: 2px solid lightcoral;
}


.story__author {
  display: inline-block;
  margin: 0 auto;
  padding: .5rem 1rem;
  text-align: center;
}