.story {
  text-align: justify;
}

.story__title {
  padding: 2rem 0;
}

.story__content::first-letter,
.story__content p:first-of-type::first-letter {
  font-size: 3rem;
}

.story__content p::first-letter {
  padding-left: 2rem;
}

.story__authors {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  border: 2px solid lightcoral;
  border-radius: .5rem;
}

.story__author {
  display: inline-block;
  margin: auto;
  padding: .5rem 1rem;
  text-align: center;
}