.adminPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: #fff; */

}

.adminName {
  display: block;
  width: 100%;
  margin: 0 0 3rem;
}

.adminNews,
.adminStories {
  position: relative;
  background-color: rgba(255, 255, 255, .2);
  min-height: 10rem;
  width: 35%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.adminStories {
  width: 60%;
}

.newsListItem {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid maroon;
  padding: 1rem 0;
}

.newsListItem::before {
  position: absolute;
  top: 0;
  left: -1rem;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background: rgba(255, 255, 255, .3);
  opacity: 0;
  transition: opacity .3s ease;
  z-index: -1;
}

.newsListItem:hover::before {
  opacity: 1;
}

.light-mode .newsListItem::before {
  background: rgba(0, 100, 200, .3);
}

.newsListItem__title {
  display: inline;
  color: black;
  min-width: 10rem;
  max-width: 10rem;
}

.storyListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid maroon;
  padding: 1rem 0;
}

.newsListItem:last-child,
.storyListItem:last-child {
  border-bottom: none;
}

.storyListItem__title {
  display: block;
  text-align: left;
  min-width: 10rem;
}

.listBtn {
  width: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
}

.small {
  font-size: .8rem;
}

.light-mode .newsListItem,
.light-mode .storyListItem {
  border-bottom-color: #3f72af;
}

.light-mode .listBtn {
  background-color: #3f72af;
  color: white;
}